/* Reset CSS */
html,
body,
div,
h2,
p,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.kembali {
  padding: 33px 40px;
}

.ico {
  margin-right: 10px;
}

.kembali a {
  color: #000;
  text-decoration: none;
  padding-top: 4px;
}

#regristrasi {
  background: #fff;
  padding: 30px 0;
}

/* Welcome Text Styles */
.welcome-text h3 {
  /* position: absolute; */
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Branding Text Styles */
.welcome-text p {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-registrasi {
  width: 597px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #daf6ff;
  box-shadow: 0px 4px 4px 0px #85eba7;
}
.card-registrasi h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  color: #000;
  text-align: center;
  padding-top: 10px;
}
.card-registrasi p {
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: #000;
  text-align: center;
  margin-bottom: 21px;
}

.form-input h6 {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.form-control {
  background: #c4c4c4;
  max-width: 350px;
  height: 48px;
  border-radius: 0;
  border: 2px solid #b5e7c5;
  background: #fff;
}
.form-input {
  margin-left: 133px;
}
.kirimkan-kode {
  position: absolute;
  width: 140px;
  height: 10px;
  left: 1010px;
  font-style: italic;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  color: #130086;
}
.otp-container {
  display: flex;
  align-items: center;
  height: 50px;
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.button-kontak {
  width: 126px;
  height: 44px;
  background: #d6a62e;
  color: #000;
  margin: 20px 0 18px 103px;
  border: 0;
}
.forgot-signup p {
  color: #010101;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.forgot-signup a {
  color: #30af7c;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 5px;
  text-decoration: none;
}
.copyright {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin-top: 80px;
}
.button-secondary {
  height: 40px;
  width: 133px;
  margin-left: 100px;
  margin-top: 20px;
  background-color: #d6a62e;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #ffffff;
  text-decoration: none;
  line-height: 30px;
  margin-bottom: 30px;
}

.button-secondary:hover {
  color: #ffffff;
}
